.container {
  margin: 0 0.5rem 1rem;
  padding: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}
