.introduction {
  margin: 0 0 .5em;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;;
  text-align: center;
  line-height: .9;
}

.introduction__large, .introduction__small {
  overflow: hidden;
}

.introduction__large {
  display: block;
  font-size: 200px;
  line-height: .8;
}

.introduction__small {
  display: inline;
  font-size: 48px;
  line-height: 1;
}
