/// Display links to social medias as an inline-list with icons

.social-medias {
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.social-medias__item {
  display: inline-block;
  margin: 0 8px;
  font-size: 1rem;
}

.social-medias__icon {
  margin-right: 5px;
}
